body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.top-header {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.top-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.top-header nav ul li {
    display: inline;
}

.top-header nav ul li a {
    color: #76ff03;
    text-decoration: none;
    font-size: 1.1em;
}

.top-header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    background: #1e1e1e;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    flex: 1;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #76ff03;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    color: #e0e0e0;
    font-size: 0.9em;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.9em;
}

button {
    background-color: #76ff03;
    color: #121212;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #64dd17;
}

#recommendationsOutput {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    color: #e0e0e0;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 400px;
}

.track-info {
    margin-bottom: 15px;
}

.track-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

.track-info strong {
    font-size: 1em;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #1e1e1e;
    width: 100%;
    text-align: center;
}

footer p {
    color: #999;
    font-size: 0.8em;
}